/* -------CSS for Slider------- */

.slide-title {
    font-style: normal;
    font-weight: bold;
    font-size: 80px;
    color: var(--blue);
}

.slide-price {
    font-weight: bold;
    font-size: 48px;
    color: var(--green);
}

.slide-content {
    font-style: italic;
    font-size: 20px;
    text-align: justify;
    color: #666666;
}
 /* banner */
 #heroDiv {
    padding-right: 0.25rem !important;
    padding-left: 0.25rem !important;
    margin-right: 2rem !important;
    margin-left: 2rem !important;
}

#heroCarousel>ol {
    position: relative;
}

#heroCarousel>ol>li {
    margin-left: 10px;
    margin-right: 10px;
    color: black;
    background-color: #abe1cf;
    border-radius: 50%;
    width: 10px;
    height: 10px;
}

#heroCarousel>ol>li.active {
    background-color: #27ba89;
}

/* end banner */
.ribbon4 {
    position: fixed;        
    top: 0px;
    padding: 8px 8px;
    background: #00b3ed;
    box-shadow: -1px 2px 3px rgba(0, 0, 0, 0.3);
}   
/* ribon sale */
.ribbon4:before,
.ribbon4:after {
    content: "";
    position: absolute;
}

.ribbon4:before {
    width: 7px;
    height: 100%;
    top: 0;
    left: -6.5px;
    padding: 0 0 7px;
    background: inherit;
    border-radius: 5px 0 0 5px;
}

.ribbon4:after {
    width: 5px;
    height: 5px;
    bottom: -5px;
    left: -4.5px;
    background: lightblue;
    border-radius: 5px 0 0 5px;
}
/*End ribon sale */
/* slick */
.lead {
    font-size: 1.5rem;
    font-weight: 300;
}

.slider {
    width: 100%;
    margin: 0 auto;

}

.slick-slide {
    margin: 0px 15px;
}

.slick-slide img {
    /* width: 100%; */
    width: 210px;
    margin-top: 10px;   
}

.slick-prev:before,
.slick-next:before {
    color: black;
}


.slick-slide {
    transition: all ease-in-out .3s;
}

/* end slick */

/* -------- CSS for Categories -------- */
.sub-title {
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    color: var(--green);
}

.title {
    font-weight: bold;
    font-size: 28px;
    text-align: center;
    color: #192A56;
}

.categories {
    display: grid !important;
    grid-template-columns: 1fr 1fr 1fr ;
    align-items: center;
    justify-items: center;
    padding-left: 180px;
    padding-right: 180px;
}

.cate-item {
    background-color: #fff;
    border-radius: 10px;
    width: 280px;
    display: flex !important;
    flex-direction: column;
    align-items: center;
    border: 2px solid #fff;
    margin: 12px 0px 12px 0;
}
#productSection .cate-item {
    width: 250px;
}

.cate-item:hover {
    border: 2px solid var(--green);
    filter: drop-shadow(1px 1px 5px #27AE60);
    border-radius: 10px;
    z-index: 0;
}

.item-img {
    width: 200px;
    height: 200px;
}

.item-name {
    font-weight: 700;
    font-size: 28px;
    text-align: center;
    color: #192A56 !important;
    margin: 0;
}

.item-des {
    font-size: 16px;
    text-align: center;
    color: #666666 !important;
    margin: 0;
    margin-bottom: 18px;
}

/* Moblie */
@media only screen and (max-width: 740px){
    .sub-title{
        font-size: 18px;
    }    
    .title{
        font-size: 20px;
    }

    .categories, .menu{
        display: flex!important;
        flex-direction: column;
    }
}

/* Tablet */
@media only screen and (min-width: 741px) and (max-width: 1024px){
    .categories, .menu{
        grid-template-columns: 1fr 1fr;
    }
    .banner2{
        margin-top: 0px;
    }
    

}

/* --------------Menu------------- */
.menu {
    display: grid !important;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    align-items: center;
    justify-items: center;
    padding-left: 25px;
    padding-right: 25px;
}

.star-vote {
    display: flex;
    justify-content: center;
}

.price-button {
    width: 85%;
    display: flex;
    justify-content: space-between;
    margin: 12px 20px 10px 20px;
}

.price {
    color: var(--green);
    font-weight: 700;
    font-size: 22px;
    margin-bottom: 0
}

/* ------------- Comment & star rating ------------- */
.star-rating>input {
    display: none;
}

.star-rating label {
    color: #666;
    float: right;
    padding: 2px;
}

.star-rating input:not(:checked)~label:hover,
.star-rating input:not(:checked)~label:hover~label {
    color: #fd4;
    cursor: pointer;
}

.star-rating input:checked~label {
    color: #fd4;
    cursor: pointer;
}

@media only screen and (max-width: 739px) {

    .slide-title {
        font-size: 32px;

    }

    .slide-price {
        font-size: 28px;
    }

    .slide-content {
        font-size: 14px;
    }

    .slideshow {
        align-items: center !important;
    }
}


@media only screen and (min-width: 740px) and (max-width: 1024px) {
    .slide-title {
        font-size: 36px;

    }

    .slide-price {
        font-size: 30px;
    }

    .slide-content {
        font-size: 16px;
    }

}

/* Moblie */
@media only screen and (max-width: 739px) {
    .sub-title {
        font-size: 18px;
    }

    .title {
        font-size: 20px;
    }

    .categories,
    .menu {
        display: flex !important;
        flex-direction: column;
    }
    .salediv{
        margin-left: 18px;
        margin-right: 18px;
    }
    .slick-next {
        right: -2px;
    }
    .slick-prev {
        left: -2px;
    }


}

/* Tablet */
@media only screen and (min-width: 740px) and (max-width: 960px) {

    .categories,
    .menu {
        grid-template-columns: 1fr 1fr;
        
    }
    .categories{
        padding-left: 40px;
        padding-right: 40px;
    }
    .salediv{
        margin-left: 78px;
        margin-right: 78px;
    }
    .slick-next {
        right: -2px;
    }
    .slick-prev {
        left: -2px;
    }
}
/* pc fullhd */
@media only screen and (min-width: 1024px) and (max-width: 1280px) {
    .slick-next {
        right: -2px;
    }
    .slick-prev {
        left: -2px;
    }
    .categories,
    .menu {
        grid-template-columns: 1fr 1fr 1fr ;
        padding-left: 100px;
        padding-right: 100px;
    }  
    .salediv{
        margin-left: 120px;
        margin-right: 120px;
    }
    .slick-next {
        right: -2px;
    }
    .slick-prev {
        left: -2px;
    }
}
@media only screen and (min-width: 1281px) {
    .salediv{
        margin-left: 135px;
        margin-right: 135px;
    }
    .slick-next {
        right: -2px;
    }
    .slick-prev {
        left: -2px;
    }
    
}


/* PRODUCT PAGE */
/* @media only screen and (max-width: 739px) {
    .sub-title {
        font-size: 18px;
    }
    .title {
        font-size: 20px;
    }
    .categories,
    .menu {
        display: flex !important;
        flex-direction: column;
    }
}
@media only screen and (min-width: 740px) and (max-width: 960px) {
    .categories,
    .menu {
        grid-template-columns: 1fr 1fr;
        
    }
    .categories{
        padding-left: 40px;
        padding-right: 40px;
    }
    .salediv{
        margin-left: 78px;
        margin-right: 78px;
    }
    .slick-next {
        right: -2px;
    }
    .slick-prev {
        left: -2px;
    }
}
@media only screen and (min-width: 1024px) and (max-width: 1280px) {
    .slick-next {
        right: -2px;
    }
    .slick-prev {
        left: -2px;
    }
    .categories,
    .menu {
        grid-template-columns: 1fr 1fr 1fr ;
        padding-left: 100px;
        padding-right: 100px;
    }  
    .salediv{
        margin-left: 160px;
        margin-right: 160px;
    }
    .slick-next {
        right: -2px;
    }
    .slick-prev {
        left: -2px;
    }
}
@media only screen and (min-width: 1280px) {
    .salediv{
        margin-left: 120px;
        margin-right: 120px;
    }
    .slick-next {
        right: -2px;
    }
    .slick-prev {
        left: -2px;
    }
} */

/* details */
#main {
    height: 500px;
    margin: auto;
    display: flex;
    justify-content: space-around;
}

#first {
    width: 27%;
    height: auto;
    margin-top: 70px;
    margin-left: 130px;
}

#first>img {
    margin-left: -15px;
    margin-top: -55px;
    width: 100%;
}

#second {
    height: 100%;
    width: 50%;
    margin-right: 70px;
}

#fs {
    height: 65%;
    padding-left: 10px;
    color: gray;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
}

#sc {
    height: 12%;
    width: 60%;
    color: gray;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#th {
    height: 23%;
    color: gray;
    padding-left: 15px;
    padding-top: 20px;
    padding-bottom: 10px;
    background-color: #E8E8E8;
    border-radius: 0px 15px 15px 15PX;
}

#ds {

    padding-top: 22px;
    padding-bottom: 11px;
    margin-left: -40px;
    font-size: 20px;

}

#bn {
    padding-top: 22px;
    padding-bottom: 11px;
    margin-left: -40px;
    font-size: 20px;


}

#inf {
    padding-top: 22px;
    padding-bottom: 11px;
    margin-left: -40px;
    font-size: 20px;
}

@media all and (min-width:577px) and (max-width:768px) {
    #main {
        width: 100%;
    }

    #first {
        width: 50%;
        margin-left: -8%;
        margin-top: .025%;
    }

    #first>img {
        width: 120%;
        margin-left: 150%;
        margin-top: 2%;

    }

    #second {
        width: 200%;


    }

    #fs {
        width: 100%;
        margin-left: 48%;
    }

    #fs,
    #sc,
    #th {
        height: auto;
    }


    #ds {
        margin-left: -.2%;
    }

    .bg-light {
        display: none;
    }

    #bestDeals {
        display: none;
    }

    #sc {
        width: 100%;
    }
}

@media all and (min-width:250px) and (max-width:576px) {
    #bestDeals {
        display: none;
    }

    #main {
        display: block;
    }

    #first {
        width: 40%;
    }

    #first>img {
        margin-left: -.03%;
    }

    #second {
        width: 100%;
        margin-top: .03%;
    }

    #fs,
    #sc,
    #th {
        height: auto;
    }

    #fs>h4,
    #sub,
    button {
        margin-left: 4%;

    }

    #fs>#comb {
        margin-left: 2%;
    }

    #sc {
        width: 100%;
    }

    .bg-light {
        display: none;
    }
}

@media all and (min-width: 740px) and (max-width: 1024px) {
    #sc {
        width: 100%;
    }

    #fs,
    #sc,
    #th {
        height: auto;
    }
}